@font-face{
	font-family: 'brandon-light';
	src: url(../font/brandon-light.otf);
}

@font-face{
	font-family: 'brandon-regular';
	src: url(../font/brandon-regular.otf);
}

@font-face{
	font-family: 'brandon-medium';
	src: url(../font/brandon-medium.otf);
}

@font-face{
	font-family: 'brandon-bold';
	src: url(../font/brandon-bold.otf);
}

body{
	width: 100%;
	font-size: 16px;
	font-family: 'brandon-regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #f0f0f0;
	text-align: left;
	color: #4c4c4c;
}

.page-wrapper{
	width: 100%;
}

.body-wrapper{
	width: 100%;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-family: 'brandon-bold', 'Helvetica', sans-serif;
	font-size: 1.5em;
	color: #3a3a3a;
}

h2{
	font-family: 'brandon-medium', 'Helvetica', sans-serif;
	font-size: 1.2em;
	color: #3a3a3a;
	padding-bottom: 10px;
}

p{
	line-height: 1.5em;
	letter-spacing: 0.01em;
}

a{
	color: #f26c4f;
	text-decoration: underline;
}

/*<--NAV-->*/

nav{
  	width: 100%;
  	font-family: 'brandon-regular';
}

.nav-top{
	width: 100%;
	background-color: #000;
	padding: 25px;
  	max-width: 1400px;
  	margin: 0 auto;
}

.nav-top .logo{
	float: left;
	width: 30%;
}

.nav-top .logo img{
	width: 300px;
}

.nav-top .nav-links{
	float: right;
	width: 70%;
	text-align: right;
}

.nav-top .nav-links ul li{
	display: inline-block;
	padding: 0 15px;
	color: #fff;
	letter-spacing: 0.02em;
	font-family: 'brandon-light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-top .nav-links ul li:hover{
	color: #f26c4f;
}

.nav-bottom{
	width: 100%;
	background-color: #fff;
	padding: 25px;
  	max-width: 1400px;
  	margin: 4px auto 0 auto;
}

.nav-bottom ul li{
	display: inline-block;
	padding: 10px 15px;
}

.nav-bottom ul li:hover{
	color: #f26c4f;
}

.nav-bottom ul li:first-of-type{
	padding-left: 0;
}

/*<--HERO-->*/

.hero{
	width: 100%;
	background: url("../images/hero-bg.jpg") no-repeat center center;	 
  	background-size: cover;
  	height: 450px;
}

/*<--ARTIST INFO-->*/

.content-wrapper{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.info-container{
	width: 420px;
	text-align: center;
	margin-top: -360px;
	float: left;
	background-color: #f0f0f0;
	margin-left: 40px;
}

.info-box{
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
}

.avatar{
	width: 45%;
	text-align: center;
	margin: 0 auto;
}

.avatar img{
	border-radius: 50%;
	width: 100%;
}

.info-box h1{
	padding: 20px 0 10px 0;
}

.info-box p.subheader{
	color: #a5a5a5;
}

.cta{
	background-color: #f26c4f;
	width: 45%;
	text-align: center;
	border-radius: 3px;
	border-bottom: 2px solid #a23d37;
	padding: 15px 0;
	margin: 10px auto;
}

.cta:hover{
	background-color: #a23d37;
}

.cta a{
	color: #fff;
	text-decoration: none;
}

.artist-info{
	border-top: 1px solid #e3e3e3;
	margin-top: 30px;
	padding-top: 30px;
}

p.description{
	padding-top: 20px;
	padding-bottom: 20px;
}

.cta-alt{
	background-color: #f0f0f0;
	width: 45%;
	text-align: center;
	border-radius: 3px;
	border-bottom: 2px solid #e3e3e3;
	padding: 15px 0;
	margin: 10px auto;
}

.cta-alt:hover{
	background-color: #e3e3e3;
}

.cta-alt a{
	color: #4c4c4c;
	text-decoration: none;
}

.meatwork{
	background-color: #fff;
	padding: 30px;
}

.meatwork img{
	width: 100%;
	margin-bottom: 30px;
}

/*<--ARTWORKS-->*/

.artwork-container{
	width: 100%;
	padding: 20px 20px 20px 470px;
}

.artwork{
	width: 33.33%;
	background-color: #f0f0f0;
	padding: 15px;
	float: left;
}

.artwork-inside{
	width: 100%;
	background-color: #fff;
}

.art{
	width: 100%;
}

.art img{
	width: 100%;
}

.art-info{
	padding: 20px;
}

.cta-artist{
	clear: both;
	background-color: #f26c4f;
	text-align: center;
	float: right;
	right: 0;
	border-radius: 3px;
	border-bottom: 2px solid #a23d37;
	padding: 20px 30px;
	margin: 10px 35px 40px 0;
}

.cta-artist a{
	color: #fff;
	text-decoration: none;
}

.cta-artist:hover{
	background-color: #a23d37;
}

/*<--FOOTER-->*/

footer{
	padding: 30px;
	width: 100%;
	text-align: left;
	background-color: #252525;
	bottom: 0;
	clear: right;
}

footer p{
	font-size: .9em;
	color: #fff;
	font-family: 'brandon-light';
}

/*<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*<--RESPONSIVE-->*/

@media only screen and (max-width: 1210px){
	.artwork{
		width: 50%;
	}
}

@media only screen and (max-width: 1100px){
	.info-container{
		width: 300px;
		text-align: center;
		margin-top: -310px;
		float: left;
		background-color: #f0f0f0;
		margin-left: 40px;
	}

	.cta{
		width: 70%;
	}

	.cta-alt{
		width: 240px;
	}

	.artwork-container{
		padding: 20px 20px 20px 360px;
	}
}

@media only screen and (max-width: 870px){
	.nav-top .logo img{
		width: 200px;
	}

	.nav-top .nav-links ul li{
		padding: 0 10px;
	}

	.nav-bottom ul li{
		padding: 10px;
	}

	.info-container{
		width: 90%;
		float: none;
		display: block;
		margin: -340px auto 0 auto;
	}

	.avatar{
		width: 20%;
	}

	.cta{
		width: 40%;
	}

	.cta-alt{
		width: 40%;
	}

	.artwork-container{
		width: 93%;
		padding: 20px 0;
		margin: 0 auto;
	}

	.artwork{
		width: 50%;
	}

	.cta-artist{
		float: none;
		width: 90%;
		margin: 10px auto 40px auto;
	}
}

@media only screen and (max-width: 650px){
	.nav-top .nav-links{
		display: none;
	}

	.nav-bottom{
		display: none;
	}

	.cta-artist{
		width: 87%;
	}
}

@media only screen and (max-width: 540px){
	.artwork{
		float: none;
		width: 100%;
	}

	.cta{
		width: 90%;
	}

	.cta-alt{
		width: 90%;
	}

}