body{
	width: 100%;
	font-size: 16px;
	text-align: left;
	background-color: #ebeaea;
	color: #000;
	font-family: 'Raleway', sans-serif;
}

#site-wrapper{
	width: 100%;
}

#body-wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 55px 500px 55px 55px;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-size: 2.5em;
}

h2{
	text-align: left;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.5em;
	color: black;
	padding-bottom: 15px;
}

p{
	line-height: 1.6em;
	font-family: 'Open Sans', sans-serif;
}

/*	<--NAV-->*/

nav{
	background-color: #fff;
	position: fixed;
	width: 500px;
	z-index: 1;
	padding: 40px;
	top: 0;
	bottom: 0;
	right: 0;
	display: block;
	text-align: center;
}

nav h1{
	padding-bottom: 20px;
}

nav p{
	color: #a5a5a5;
}

nav h1 a{
	color: #000;
	text-decoration: none;
}

.avatar{
	width: 75%;
	margin: 0 auto;
	padding-top: 30px;
}

.avatar img{
	width: 100%;
}

footer{
	bottom: 0;
	width: 100%;
	left: 0;
	position: absolute;
	margin-bottom: 20px;
}

footer p{
	font-size: .8em;
	letter-spacing: 0.02em;
}

footer a{
	color: #000;
}

footer a:hover{
	opacity: .6;
}

/*  <--TOP NAV--->*/

.links{
	width: 100%;
	padding: 55px 55px 0 55px;
}

.links ul{
	width: 100%;
}

.links ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
	border: 1px solid #c2c2c2;
	text-align: center;
	margin: 0 5px 0 0;
}

.links ul a{
	color: #000;
}

.links ul li:hover{
	background-color: #e1e1e1;
}

.highlighted{
	background-color: #e1e1e1;
}

/*<--HOME-->*/

.container{
	width: 90%;
}

.container img{
	width: 100%;
	padding: 30px 0;
}

/*<--PUBLICATIONS-->*/

.publication{
	padding-bottom: 30px;
}

.publication-detail{
	padding-bottom: 5px;
	font-size: 1.1em;
}

.publication-detail a{
	color: #4460ba;
}

.publication-detail a:hover{
	color: #6095cc;
}

.date{
	color: #8e8e8e;
}

/*<--CONTACT-->*/

#contact{
	height: 50vh;
}

#contact p:first-of-type{
	padding-bottom: 20px;
}

/*<--MOBILE FOOTER-->*/

.mobile-footer{
	width: 100%;
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
	display: none;
}

.mobile-footer p{
	font-size: .8em;
	letter-spacing: 0.02em;
}

.mobile-footer a{
	color: #000;
}

.mobile-footer a:hover{
	opacity: .6;
}

/*	<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*	<--RESPONSIVE-->*/

@media only screen and (max-width: 950px){
	nav{
		position: relative;
		width: 100%;
		top: 0;
		text-align: left;
		padding: 40px 40px 0 40px;
	}

	.avatar{
		display: none;
	}

	footer{
		display: none;
	}

	.links{
		padding: 40px;
		background-color: #fff;
	}

	.links ul li:hover{
		background-color: #ebeaea;
	}

	.highlighted{
		background-color: #ebeaea;
	}

	#body-wrapper{
		width: 100%;
		margin: 0 auto;
		padding: 40px;
	}

	.container{
		width: 100%;
	}

	.mobile-footer{
		display: block;
	}
}

@media only screen and (max-width: 450px){
	.links{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.links ul li{
		padding: 15px 10px;
		display: block;
		margin: 0 0 10px 0;
	}

	h1{
		font-size: 1.9em;
	}

}

