@import url("colours.css");

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
h1{
	font-size: 48px;
	line-height: 1.1em;
}
h2{
	font-size: 24px;
	line-height: 1.3em;
	padding-bottom: var(--spacing-small);
}
h3{
	font-size: 32px;
	line-height: 1.5em;
	padding-bottom: var(--spacing-small);
}
h4{
	font-size: 24px;
	line-height: 1.4em;
	padding-bottom: var(--spacing-medium);
}
h5{
	font-size: 18px;
	line-height: 1.4em;
	padding-bottom: var(--spacing-medium);
	padding-top: var(--spacing-small)
}
h6{
	font-size: 16px;
    line-height: 1.3em;
    padding-bottom: var(--spacing-medium);
}
p{
	font-size: 16px;
	line-height: 1.9em;
}
a{
	color: var(--blue-bright);
	cursor: pointer;
	text-decoration: none;
}

/*TABLET AND DESKTOP*/
@media only screen and (min-width: 768px){
	h1{
		font-size: 96px;
	}
	h6{
		font-size: 24px;
	}
}