@import url("colours.css");

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
h1{
	font-size: 40px;
	line-height: 1.1em;
}
h2{
	font-size: 24px;
	line-height: 1.3em;
	margin-bottom: var(--spacing-small);
}
h3{
	font-size: 32px;
	line-height: 1.5em;
}
h4{
	font-size: 24px;
	line-height: 1.4em;
	padding-bottom: var(--spacing-large);
}
h5{
	font-size: 16px;
	line-height: 1.4em;
	padding-bottom: var(--spacing-medium);
}
h6{
    font-size: 16px;
    line-height: 1.3em;
    padding: var(--spacing-medium) 0;
}
p{
	font-size: 16px;
	line-height: 1.9em;
}
a{
	color: var(--blue-bright);
	cursor: pointer;
	text-decoration: none;
}

/*TABLET */
@media only screen and (min-width: 768px){
	h1{
		font-size: 96px;
		line-height: 1.1em;
	}
}

/*DESKTOP*/
@media only screen and (min-width: 1024px){
	h1{
		font-size: 96px;
		line-height: 1.1em;
	}
}