footer{
	background-color: var(--blue-dark);
	color:var(--white);
	width: 100%;
	padding-top: var(--spacing-large);
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 75vh;
}
.contact-container{
	max-width: 1400px;
    margin: 0 auto;
}
footer p.footer-paragraph{
	padding-bottom: var(--spacing-large);
}
.footer-links span a{
	font-weight: 700;
	color: var(--white);
	margin: 0 var(--spacing-xsmall);
	line-height: 1.9em;
}
.footer-links span:first-of-type > a{
	margin-left: 0;
}
.footer-links span:last-of-type > a{
	margin-right: 0;
}
.footer-links span a:hover{
	border-bottom: 1px solid var(--white);
}
p.copyright{
	bottom: 0;
    position: fixed;
    padding-bottom: var(--spacing-large);
}

/* TABLET */
@media only screen and (min-width: 768px){
	footer p{
		width: 85%;
	}
}

/*DESKTOP*/
@media only screen and (min-width: 1020px){
	footer{
		padding-top: var(--spacing-xlarge);
	}
	footer p{
		width: 40%;
	}
}