.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 51;
    padding-top: var(--spacing-xlarge);
}
#closebtn {
    padding: var(--spacing-small);
    font-size: 40px;
    color: var(--blue-dark);
    position: absolute;
    top: 0;
	right: 0;  
	transition: 0.3s;
	position: fixed;
	z-index: 0;
}
#closebtn span{
	transition: all 0.3s ease-in-out 0s;
	display: inline-block;
	width: 40px;
    text-align: center;
}
#closebtn span:hover{
	cursor: pointer;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out 0s;
}

/*<--PORTFOLIO CONTENT-->*/
.portfolio-inside{
	padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
	position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.portfolio-content{
	width: 100%;
	padding-bottom: var(--spacing-medium);
}
.portfolio-content .date{
	text-transform: uppercase;
    padding-bottom: var(--spacing-medium);
    font-size: 12px;
    font-weight: 700;
}
.portfolio-content p.description{
	padding-bottom: var(--spacing-medium);
}
.portfolio-content a:hover{
	border-bottom: 1px solid;
}
.portfolio-image{
	padding-bottom: var(--spacing-large);
}
.portfolio-image img{
	width: 100%;
}
.portfolio-content a.portfolio-link{
	padding-top: var(--spacing-medium);
	display: inline-block;
}

/* TABLET */
@media only screen and (min-width: 768px){
	.portfolio-content{
		width: 50%;
		max-width: 720px;
		margin: 0 auto;
	}
	.portfolio-image{
		width: 85%;
		margin: 0 auto;
	}
}

/* DESKTOP */
@media only screen and (min-width: 1024px){
	.portfolio-image{
		width: 75%;
	}
}