#writing{
    display: block;
	width: 100%;
	padding-top: var(--spacing-xlarge);
    max-width: 1400px;
    margin: 0 auto;
	z-index: 51;
}
.article{
	display: block;
	margin-bottom: var(--spacing-medium);
}
.article:last-of-type {
	margin-bottom: 0;
}
.article-card{
	display: block;
	border: 1px solid var(--grey-light);
}
.article-img {
	width: 100%;
}
.article-img img{
	width: 100%;
	display: block;
}
.article-text {
	width: 100%;
	padding: var(--spacing-small);
	padding-top: var(--spacing-medium);
}
.article-text p:first-of-type{
	padding-bottom: var(--spacing-xsmall);
}
.date{
	text-transform: uppercase;
	font-size: 11px;
  	font-weight: 700;
	padding-bottom: 0;
}
a.writing-container-link{
	color: var(--bluedark);
	display: block;
}
.fadeIn-top{
	top: 20%;
}


/*TABLET*/
@media only screen and (min-width: 768px){
	.article-card{
		display: flex;
		align-items: center;
	}
	.article-img {
		width: 40%;
	}
	.article-text {
		width: 60%;
		padding-left: var(--spacing-large);
		padding-top: var(--spacing-small);
	}
	.date{
		font-size: 12px;
	}
}

/*DESKTOP*/
@media only screen and (min-width: 1024px){ 
	#writing{
		padding-top: var(--spacing-xlarge);
	}
	.article-card .article-img{
		width: 20%;
	} 
	/* Animates the images on hover   */
	.article-card .article-img img{
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}
	.article-card:hover .article-img img{
		-moz-transform: scale(1.02);
		-webkit-transform: scale(1.02);
		transform: scale(1.02);
	}
	a.writing-container-link:hover > .article-card > .article-text > h4 > span{
		background-color: var(--blue-bright);
		background-image: -webkit-linear-gradient(-270deg, var(--blue-bright) 100%,var(--blue-bright) 0%);
		background-image: linear-gradient(0deg,var(--blue-bright) 100%,var(--blue-bright) 0%);
		color: var(--blue-bright);
		background-repeat: repeat-x;
		text-shadow: -0.18em 0 0 var(--white), 0.18em 0 0 var(--white), -0.12em 0 0 var(--white), 0.12em 0 0 var(--white), -0.06em 0 0 var(--white), 0.06em 0 0 var(--white), 0 -1px 0 var(--white), 0 1px 0 var(--white);
		background-position: 0 100%;
		background-color: transparent;
		background-size: 200% 2px;
	}
}