@font-face {
    font-family: 'CircularBold';
    src: url('../font/circular-bold.otf');
    font-style: normal;
  	font-weight: normal;
}
@font-face {
    font-family: 'CircularBook';
    src: url('../font/circular-book.otf');
    font-style: normal;
  	font-weight: normal;
}
@font-face {
    font-family: 'CoreHeavy';
  	src: url('../fonts/core-sans/core-sans.woff2') format('woff2');
  	font-style: normal;
  	font-weight: normal;
}

body{
	padding: 48px;
	width: 60%;
	margin: 0 auto;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
}

/*COLOUR VARIABLES*/

:root {
    --navy:#242038;
    --navy75:#5F5C6E;
    --aqua:#48A9A6;
    --navy50:#9B99A4;
    --navy10:#EBEAEC;
}

/*NAVIGATION*/

nav{
	width: 100%;
	margin-bottom: 64px;
}
nav div{
	display: inline-block;
	font-family: 'CircularBook';
	color: var(--navy);
	margin-right: 16px;
	padding-bottom: 2px;
}
nav div a{
	color: var(--navy);
	text-decoration: none;
}
nav div.nav-selected,
nav div:hover{
	border-bottom: 1px solid var(--navy);
}

/*SECTION STYLES*/

section{
	margin-bottom: 64px;
}
.section-title{
	color: var(--navy50);
	font-family: 'CoreHeavy';
	font-size: 16px;
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 32px;
	font-weight: normal;
	border-bottom: 1px solid;
}


/*TYPOGRAPHY LAYOUT*/

.font-container{
 	width: 100%;
 	margin-bottom: 32px;
}
.font-column{
	width: 30%;
	float: left;
}
.font-column:first-of-type{
	width: 35%;
}

/*TYPOGRAPHY STYLES*/

.header-large {
    color: var(--navy);
    font-family: 'CoreHeavy';
    font-size: 32px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
}
.header-medium{
	color: var(--navy);
	font-family: 'CircularBook';
	font-size: 24px;
    line-height: 30px;
    font-weight: normal;
}
.header-small{
	color: var(--navy);
	font-family: 'CircularBold';
	font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
.body-copy-normal{
	color: var(--navy);
	font-family: 'CircularBook';
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
}
.body-copy-small{
	color: var(--navy75);
	font-family: 'CircularBook';
	font-size: 14px;
	line-height: 31px;
	font-weight: normal;
}

/*COLOURS*/

.color-container{
/*	display: block;
}
.color{
	height: 40px;
  	width: 40px;
  	border-radius: 50%;
  	display: inline-block;
  	float: left;
}
.color-label{
	float: left;
	line-height: 40px;
	margin-left: 16px;
}
.navy{
	background-color: var(--navy);
}
.navy75{
	background-color: var(--navy75);
}
.aqua{
	background-color: var(--aqua);
}
.navy10{
	background-color: var(--navy10);
}*/

/*	<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}