body{
	width: 100%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #d8d8d8;
	text-align: left;
	color: #000
}

.page-wrapper{
	width: 100%;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-size: 5.2em;
	font-family: 'Tangerine', cursive;
}

h2{
	font-size: 1.5em;
	line-height: 1.5em;
	padding-bottom: 30px;
	font-family: 'Cinzel', serif;
}

p{
	line-height: 1.7em;
	letter-spacing: 0.01em;
}

/*<--NAV-->*/

nav{
  	width: 100%;
  	padding: 100px 50px 40px 50px;
  	background-color: #ebebeb;
  	max-width: 1200px;
  	margin: 0 auto;
}

.nav-content{
	width: 100%;
}

.nav-content .logo{
	width: 70%;
	float: left;
}

.nav-content .logo p{
	padding-top: 9px;
	font-family: 'Cinzel', serif;
	font-size: .9em;
}

.nav-content .nav-links{
	width: 30%;
	float: left;
	font-family: 'Cinzel', serif;
}

.nav-content .nav-links ul{
	width: 100%;
}

.nav-content .nav-links ul li{
	display: block;
	padding: 4px 0;
	position: relative;
	text-align: right;
	font-size: .9em;
}

.nav-content a{
	text-decoration: none;
	color: #000;
}

.nav-content .nav-links ul li:hover{
	text-decoration: underline;
}

.nav-content .nav-links a.highlighted{
	text-decoration: underline;
}

/*<--MOBILE NAV-->*/

#mobile-nav{
	background-color: #ebebeb;
	width: 100%;
	padding: 90px 40px 30px 40px;
	display: none;
	text-align: left;
}

#mobile-nav a{
	text-decoration: none;
	color: #000;
}

#cssmenu{
	display: none;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	display: block;
	font-family: 'Cinzel', serif;
}

#cssmenu a {
  	padding: 15px 0;
  	color: #000;
  	text-decoration: none;
}

#cssmenu a:hover {
  	text-decoration: underline;
}

#cssmenu a.highlighted{
	text-decoration: underline;
}

#cssmenu.small-screen {
	width: 100%;
	display: block;
	position: relative;
	margin-top: -65px;
}

#cssmenu.small-screen ul li{
	float: none;
	display: block;
	border-bottom: 1px solid rgba(100, 100, 100, 0.1);
	font-size: .9em;
}

#cssmenu.small-screen ul li:last-of-type {
	float: none;
	display: block;
	border-bottom: none;
}

#cssmenu.small-screen ul li:first-of-type{
	padding-top: 25px;
}

#cssmenu.small-screen #menu-button {
	display: block;
	padding: 16px 20px;
	cursor: pointer;
	top: 0;
	right: 10px;
	padding-bottom: 50px;
}

#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 17px;
	display: block;
	border-top: 2px solid rgba(100,100,100,.9);
	border-bottom: 2px solid rgba(100,100,100,.9);
	width: 22px;
	height: 3px;
}

#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 20px;
	top: 27px;
	display: block;
	width: 22px;
	height: 2px;
	background: rgba(100,100,100,.9);
}

/*<--BODY-->*/

.body-wrapper{
	width: 100%;
	background-color: #ebebeb;
}

.content-wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	line-height: 0;
}

.entry-left{
	float: left;
	width: 50%;
}

.entry-left img{
	width: 100%;
}

.entry-right{
	float: left;
	width: 50%;
	padding: 50px; 
}

.content-wrapper p{
	padding-bottom: 25px;
}

.content-wrapper p:last-of-type{
	padding-bottom: 0;
}

.entry-right ul li{
	padding: 15px 0;
	line-height: 1.5em;
}

.entry-right ul li:first-of-type{
	padding-top: 0;
}

/*ABOUT*/


#doug{
	width: 50%;
	float: left;
	padding: 50px 25px 50px 50px;
}

#doug img{
	width: 100%;
	padding-bottom: 30px;
}


#maddy{
	width: 50%;
	float: left;
	padding: 50px 50px 50px 25px;
}

#maddy img{
	width: 100%;
	padding-bottom: 30px;
}

/*GALLERY*/

#gallery{
	width: 100%;
	padding: 10px;
}

#gallery img{
	width: 33.33%;
	float: left;
	padding: 10px;
}

/*CONTACT*/

#contact{
	padding: 50px;
}

#contact a{
	color: #000;
}

#contact a:hover{
	opacity: .6;
}

#contact-area{
	width: 100%;
	padding: 30px 0 50px 0;
	margin: 0 auto 0 0;
}

#contact-area input, #contact-area textarea {
	padding: 10px;
	width: 410px;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	margin-top: 10px;
	-webkit-appearance:none;
	border-radius: 0;
}

#contact-area textarea {
	height: 140px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #ccc;
}

#contact-area input.submit-button {
	width: 430px;
	text-transform: uppercase;
	color: #fff;
	background-color: #a5a5a5;
	border: 2px solid #a5a5a5;
	padding: 15px 30px;
	box-shadow: none;
	background-image: none;
	border-image: none;
	display: block;
	margin-left: 132px;
}

#contact-area input.submit-button:hover{
	background-color: #3a3a3a;
	border: 2px solid #3a3a3a;
	color: #fff;
}

label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 115px;
	padding-top: 27px;
	font-size: 1em;
}

#contact-thanks{
	padding: 50px 50px 150px 50px;
}

/*FOOTER*/

footer{
	padding: 50px;
	width: 100%;
	background-color: #ebebeb;
  	max-width: 1200px;
  	margin: 0 auto;
	bottom: 0;
}

footer .footer-info{
	width: 70%;
	float: left;
}

footer .footer-info p{
	font-size: .8em;
	color: #000;
}

footer .footer-info a{
	color: #000;
}

footer .footer-info a:hover{
	opacity: .6;
}

footer .social{
	width: 30%;
	float: right;
	text-align: right;
	margin-top: -5px;
}

footer .social img{
	width: 30px;
}

/*<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*<--RESPONSIVE-->*/

@media only screen and (max-width: 900px){
	.entry-right{
		padding: 35px; 
	}

	h2{
		font-size: 1.4em;
		padding-bottom: 20px;
	}

	.content-wrapper p{
		font-size: .95em;
	}
}

@media only screen and (max-width: 800px){
	.entry-left{
		float: none;
		width: 100%;
	}

	.entry-right{
		float: none;
		width: 100%;
		padding: 40px; 
	}

	.entry-right:first-of-type{
		padding-top: 0;
	}

	.content-wrapper p{
		font-size: 1em;
	}

	nav{
	  	width: 100%;
	  	padding: 100px 40px 30px 40px;
	}

	.nav-content .nav-links ul{
		margin-top: -15px;

	}

	.nav-content .nav-links ul li{
		padding: 6px 0;
	}

	#gallery img{
		width: 50%;
		float: left;
	}

	footer{
		padding: 40px;
	}

	footer .footer-info{
		width: 100%;
		float: none;
		text-align: center;
	}

	footer .social{
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 700px){
	nav{
		display: none;
	}

	#mobile-nav{
		display: block;
	}
}

@media only screen and (max-width: 600px){
	#doug{
		width: 100%;
		float: none;
		padding: 50px;
	}

	#maddy{
		width: 100%;
		float: none;
		padding: 0 50px 50px 50px;
	}

	#gallery img{
		width: 100%;
	}

	#contact-area{
		padding-top: 10px;
	}

	#contact-area input, #contact-area textarea {
		width: 90%;
		margin-top: 20px;
	}

	#contact-area input.submit-button {
		width: 100%;
		margin-left: 0;
	}

	#contact-area input.submit-button {
		width: 94%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 450px){
	#mobile-nav{
		padding: 90px 10px 30px 20px;
	}

	.entry-right{
		padding: 30px; 
	}

	.entry-right:first-of-type{
		padding-top: 15px;
	}

	#doug{
		padding: 30px;
	}

	#maddy{
		padding: 0 30px 30px 30px;
	}

	#contact{
		padding: 30px;
	}

	#contact-area input.submit-button {
		width: 97%;
	}

	#contact-thanks{
		padding: 50px 30px 80px 30px;
	}

	footer{
		padding: 30px;
	}
}