body{
	width: 100%;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
}

.page-wrapper{
	width: 100%;
	background-color: #ebeaea;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-size: 2.8em;
}

h2{
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.5em;
	color: black;
	padding-bottom: 15px;
}

p{
	line-height: 1.6em;
	font-family: 'Open Sans', sans-serif;
}

/*<--NAV-->*/

nav{
	background-image: url("../images/nav/nav-bg.jpg");	
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100%;
  	padding: 40px;
  	position: relative;
}

.nav-content{
	width: 100%;
	margin: 50px auto;
}

.nav-content .logo{
	width: 100%;
	text-align: center;
}

.nav-content .nav-links{
	text-align: center;
	width: 100%;
}

.nav-content .nav-links ul{
	margin-top: 25px;
}

.nav-content .nav-links ul li{
	display: inline-block;
	padding: 0 20px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.nav-content a{
	text-decoration: none;
	color: #fff;
}

.nav-content .nav-links ul li:hover{
	text-decoration: underline;
}

/*<--BODY-->*/

.body-wrapper{
	padding: 30px;
	width: 100%;
}

.content-wrapper{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: left;
}

#entry-left{
	float: left;
	width: 30%;
	padding: 20px;
}

#entry-left img{
	width: 100%;
}

#entry-middle{
	float: left;
	width: 35%;
	padding: 20px;
}

#entry-right{
	float: left;
	width: 35%;
	padding: 20px;
}

/*PUBLICATIONS*/

#publications{
	width: 70%;
	margin: 0 auto;
	padding: 30px;
}

.publication{
	padding-bottom: 30px;
}

.publication-detail{
	padding-bottom: 5px;
	font-size: 1.1em;
}

.publication-detail a{
	color: #4460ba;
}

.date{
	color: #8e8e8e;
}

/*CONTACT*/

#contact{
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	height:50vh;
}

#contact p:first-of-type{
	padding-bottom: 20px;
}

/*FOOTER*/

footer{
	padding: 30px;
	width: 100%;
	background-color: #fff;
	bottom: 0;
}

footer p{
	font-weight: 400;
	font-size: .8em;
	letter-spacing: 0.02em;
	color: #000;
	text-align: center;
}

footer a{
	color: #000;
}

footer a:hover{
	opacity: .6;
}

/*<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*<--RESPONSIVE-->*/

@media only screen and (max-width: 1024px){
	#entry-left{
		float: left;
		width: 50%;
		padding: 20px;
	}

	#entry-middle{
		float: left;
		width: 50%;
		padding: 20px;
	}

	#entry-right{
		float: none;
		width: 100%;
		padding: 20px;
		clear: both;
	}

	#publications{
		width: 100%;
	}

	#contact{
		width: 100%;
	}
}

@media only screen and (max-width: 700px){
	nav{
		padding: 30px; 
		background-image: url("../images/nav/nav-bg-mobile.jpg");	
	  	height: auto;
	}

	.nav-content{
		margin: 30px auto;
	}

	.nav-content .logo h1{
		font-size: 2.2em;
	}

	.nav-content .nav-links ul li{
		padding: 10px 0;
		display: block;
	}

	#entry-left{
		float: none;
		width: 100%;
		padding: 20px;
	}

	#entry-middle{
		float: none;
		width: 100%;
		padding: 20px;
	}
}