body{
	font-size: 16px;
	text-align: center;
	font-family: Avenir, Helvetica, sans-serif;
    overflow-x: hidden;
    color: #242448;
	font-weight: 400;
	background-color: #f8f8f8;
}

/*<--- TYPOGRAPHY --->*/

h1{
	font-weight: 700;
	color: #242448;
}
h2{
	font-weight: 700;
	font-size: 28px;
	padding: 50px;
	color: #242448;
}
h3{
	font-weight: 500;
	font-size: 18px;
}
p{
	letter-spacing: 0.5px;
	line-height: 1.5em;
	font-family: Georgia, serif;
}
a{
	text-decoration: underline;
	color: #242448;
}

/*<--- UNIVERSAL --->*/

footer{
	font-size: 15PX;
	width: 100%;
	padding: 20px 0;
}
footer a{
	color: #ff004a;
}
footer a:hover{
	color: #242448;
}