body{
	font-size: 17px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}



/*<--- TYPOGRAPHY --->*/



h1, h2{
	font-weight: 700;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 1.3em;
}

p{
	letter-spacing: 0.05em;
	line-height: 1.5;
}

a{
	text-decoration: underline;
	color: #46464f;
}


/*	<---OFFSITE NAV --->*/


.offsite-navigation {
    list-style: none;
   	background: #d7dbdf;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-top: 0;
    overflow: scroll;
    padding-bottom: 100px;
}

.offsite-navigation .offsite-nav-item{
	display: block;
	float: none;
	padding: 0;
	font-size: .8em;
 	letter-spacing: 0.05em;
 	font-weight: 400;
}

.offsite-navigation .offsite-nav-item a{
	padding: 20px 25px;
	text-align: left;
	display: block;
	font-weight: bold;
	color: #46464f;
	text-decoration: none;
}

.offsite-nav-item-balloon{
	display: block;
	float: none;
	background-color: #d7dbdf;
	width: 200px;
	padding: 0;
}

.offsite-nav-item-balloon a{
	width: 200px;
	padding: 40px 0;
	display: block;
}

.offsite-nav-item-balloon img{
	width: 40px;
	text-align: center;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url("../images/icons/offsite-menu.png");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .wrapper {
    left: 200px;
}

.nav-trigger + label, .wrapper {
    transition: left 0.2s;
}

.overlay{
	list-style: none;
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 15px 0;
    overflow: scroll;
}

.nav-trigger:checked ~ .overlay {
	display: none;
}


/*	<--- UNIVERSAL BODY WRAPPER --->*/


.wrapper{
	width: 100%;
	min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}


/*	<--- HOMEPAGE HERO + NAV --->*/


header{
	background-color: #d7dbdf;
	position: relative;
	height: 100vh;
	color: #46464f;
}


header nav{
	width: 100%;
	background-color: #fff;
}

header nav ul{
	list-style: none;
	margin: 0 auto;
	font-weight: 700;
}

header nav ul li{
	display: inline-block;
	padding: 5% 2.5%;
	letter-spacing: 0.05em;
	-webkit-transition: all .05s ease-in-out;
  	-moz-transition: all .05s ease-in-out;
  	-o-transition: all .05s ease-in-out;
 	transition: all .05s ease-in-out;
 	font-size: .9em;
}

header nav ul a li{
	color: #46464f;
}

#homepage-title-wrapper{
	width: 100%;
	background-color: #fff;
}

#homepage-title{
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

#homepage-title h1{
	padding: 4% 0 14% 0;
}

#balloon{
	margin-top: -3%;
	width: 100%;
}

#balloon img{
	width: 8%;
	text-align: center;
	max-width: 155px;
}

#slogan-wrapper{
	padding: 40px;
}


/*	<--- CONTENT --->  */


#recent{
	width: 100%;
}

.content-wrapper{
	color: #46464f;
	width: 100%;
	background-color: #fff;
	padding: 0 2% 2% 2%;
}

.content{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.content h2{
	padding: 7% 0 3% 0;
}

.columns{
	width: 100%;
}

.col{
	width: 27%;
	float: left;
	display: inline-block;
	margin: 3.16666666666667%;
}

.col img{
	width: 100%;
}

.image-description{
	width: 100%;
	margin-top: 7%;
}

p.intro-text-what{
	padding: 0 0 3.5% 0;
	font-weight: 700;
}

p.intro-text-details{
	padding: 0 0 3.5% 0;
	font-weight: 400;
	font-size: .9em;
}

p.detail{
	font-size: .8em;
	padding-bottom: 7%;
	line-height: 1.8em;
}

.scrollup{
	width: 100%;
	margin: 0 auto;
}

.scrollup img{
	width: 3%;
}

.scrollup p{
	margin-top: 1%;
	font-size: .9em;
	color: #46464f;
}


/*	<---SUBPAGE NAVIGATION--->*/


nav#subpage-nav{
	color: #46464f;
	width: 100%;
	position: static;
}

.homepage-redirect{
	margin-left: 2%;
	margin-top: 3%;
	width: 2.5%;
	position: absolute;
}

.homepage-redirect img{
	width: 100%;
}

nav#subpage-nav ul{
	width: 100%;
	list-style: none;
	background-color: #fff;
	font-weight: 700;
	padding: 2% 0;
	margin: 0 auto;
}

nav#subpage-nav ul li{
	display: inline-block;
	padding: 2%;
	letter-spacing: 0.05em;
	font-size: 0.9em;
	color: #46464f;
	opacity: .6;
}

nav#subpage-nav ul li:hover{
	color: #46464f;
}

nav#subpage-nav ul li.section-selected{
	opacity: 1;
}

.subpage-image-wrapper{
	width: 100%;
	background-color: #fff;
}

.subpage-image-wrapper img{
	width: 12.5%;
	text-align: center;
}


/*	<--- UNIVERSAL FOOTER --->*/


footer{
	background-color: #fff;
	color: #46464f;
	font-size: .9em;
	width: 100%;
	letter-spacing: 0.06em;
	font-weight: 400;
	padding: 3% 0;
	text-decoration: none;
}

footer a{
	color: #46464f;
}


/*	<--CLEARFIX-->*/


.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}


/*	<--MEDIA QUERIES-->*/


@media screen and (max-width: 2400px){
	#balloon{
		margin-top: -3.5%;
	}
}

@media screen and (max-width: 2100px){
	#balloon{
		margin-top: -4%;
	}
}

@media screen and (max-width: 1000px){
	#balloon{
		margin-top: -5.5%;
	}

	#balloon img{
		width: 11%;
	}

	.homepage-redirect{
		margin-left: 2%;
		margin-top: 4.2%;
		width: 3.5%;
	}

	.col{
		width: 42%;
		float: left;
		display: inline-block;
		margin: 4%;
	}

	nav#subpage-nav ul{
		padding: 4% 0;
	}	

	.scrollup img{
		width: 5%;
	}
}

@media screen and (max-width: 800px){
	label[for="nav-trigger"]{
   		z-index: 2;
	}

	nav{
		display: none;
	}

	.offsite-navigation .offsite-nav-item a:active{
		background-color: #d7dbdf;
		color: #46464f;
	}

	.subpage-image-wrapper{
		padding-top: 6%;
	}

	#homepage-title h1{
		padding: 11% 0 18% 0;
	}

	#balloon{
		margin-top: -7%;
	}

	#balloon img{
		width: 14%;
	}

	.content-wrapper{
		padding: 2% 7% 2% 7%;
	}

	nav#subpage-nav{
		display: none;
	}

	footer{
		padding: 3% 0 6% 0;
	}

}

@media screen and (max-width: 600px){
	#homepage-title h1{
		padding: 16% 12% 22% 12%;
	}

	.content-wrapper{
		padding: 0 12% 2% 12%;
	}

	.content h2{
		padding: 15% 12% 10% 12%;
	}

	#balloon{
		margin-top: -10%;
	}

	#balloon img{
		width: 20%;
	}

	.col{
		width: 90%;
		float: none;
		display: block;
		margin: 5% auto;
	}
	
	.subpage-image-wrapper img{
		width: 20%;
	}

	.scrollup img{
		width: 7%;
	}

}


@media screen and (max-width: 400px){
	#homepage-title h1{
		padding: 25% 0 30% 0;
		font-size: 2.1em;
	}

	#balloon{
		margin-top: -12%;
	}

	#balloon img{
		width: 25%;
	}

}
