@font-face{
	font-family: 'american-typewriter';
	src: url(../font/American-Typewriter.ttf);
}

body{
	width: 100%;
	font-size: 17px;
	text-align: left;
	background-color: #f5f5f5;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-wrapper{
	width: 100%;
}

/*	<--TYPOGRAPHY-->*/

p{
	color: black;
}

p a{
	color: black;
	text-decoration: underline;
}

h1{
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.1em;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(100,100,100,.1);
	margin-bottom: 50px;
	color: #000;
	letter-spacing: -0.01em;
}

h2{
	font-size: 1.3em;
	font-weight: 700;
	line-height: 1.5em;
	color: black;
}

h3{
	font-size: 1.1em;
	font-weight: 700;
	line-height: 1.5em;
	color: black;
	padding-bottom: 40px;
}

h4{
	font-size: 0.9em;
	font-weight: 400;
	font-family: 'American-Typewriter', Courier, serif;
	color: rgba(0,0,0,.5);
	line-height: 1.5em;
	padding: 15px 0;
}

p{
	line-height: 1.5em;
}

/*<--NAV-->*/

nav{
	background-image: url("../images/nav/gingham.png");	
	position: fixed;
	width: 250px;
	z-index: 1;
	padding: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	text-align: center;
	border-right: 4px solid #f4bc46;
}

nav .logo{
	width: 90px;
	margin: 0 auto;
}

nav img{
	width: 100%;
}

nav ul{
	width: 100%;
	padding-top: 30px;
	font-size: 0.9em;
}

nav ul li{
	padding: 10px 0;
}

nav ul li a{
	color: #000;
	text-decoration: none;
	font-weight: 700;
	opacity: .8;
}

nav ul li a:hover{
	border-bottom: solid 1px #363636;
    display: inline;
    padding-bottom: 3px;
}

nav ul li a.highlighted{
	border-bottom: solid 1px #363636;
    display: inline;
    padding-bottom: 3px;
    opacity: .9;
}

#footer{
	bottom: 0;
	width: 100%;
	left: 0;
	position: absolute;
	margin-bottom: 20px;
}

#social{
	padding-bottom: 15px;
	padding-top: 20px;
}

#social img{
	width: 30px;
	margin: 0 5px;
	-webkit-transition: -webkit-transform .08s ease-in-out;
  	transition: transform .08s ease-in-out;
  	opacity: .8;
}

#social img:hover{
	-webkit-transform: rotate(9deg);
  	transform: rotate(9deg);
}

#footer p{
	color: #3f495a;
	font-size: 0.7em;
}

/*<--MOBILE NAV-->*/

#mobile-nav{
	width: 100%;
	padding: 30px 50px;
	display: none;
	text-align: left;
	border-bottom: 4px solid #f4bc46;
	background-image: url("../images/nav/gingham.png");	
}

.mobile-logo img{
	width: 140px;
}

#cssmenu{
	display: none;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	display: block;
}

#cssmenu a {
  	padding: 16px 0;
  	color: #000;
	font-size: 0.9em;
	font-weight: 700;
  	text-decoration: none;
  	opacity: .8;
}

#cssmenu a:hover {
  	text-decoration: underline;
}

#cssmenu.small-screen {
	width: 100%;
	display: block;
	position: relative;
	margin-top: -70px;
}

#cssmenu.small-screen ul{
	margin-top: 30px;
	margin-left: 10px;
}

#cssmenu.small-screen ul li{
	float: none;
	display: block;
}

#cssmenu.small-screen ul li img{
	float: left;
}

#cssmenu.small-screen ul li:last-of-type {
	float: none;
	display: block;
	border-bottom: none;
}

#cssmenu.small-screen ul li a.highlighted{
	text-decoration: underline;
	opacity: .9;
}

#cssmenu.small-screen #menu-button {
	display: block;
	padding: 16px 20px;
	cursor: pointer;
	top: 0;
	right: 10px;
	padding-bottom: 50px;
}

#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 0;
	top: 17px;
	display: block;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 22px;
	height: 3px;
}

#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 0;
	top: 27px;
	display: block;
	width: 22px;
	height: 2px;
	background: #000;
}

/*<--BODY-->*/

.body-wrapper{
	padding: 50px 50px 50px 300px;
	width: 100%;
}

.content-wrapper{
	width: 100%;
	max-width: 900px;
}

.egg-entry{
	width: 100%;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(100,100,100,.2);
}

.entry-left{
	float: left;
	width: 40%;
	padding-right: 40px 
}

.entry-left h4:first-of-type{
	padding-bottom: 0;
}

.entry-left h4:last-of-type{
	padding-top: 5px;
}

p.rating{
	padding-top: 15px;
	font-weight: bold;
}

.entry-right{
	float: left;
	width: 60%;
}

.egg-image{
	width: 100%;
}

.egg-image img{
	width: 100%;
}

/*<--ABOUT-->*/


.about-entry{
	width: 100%;
}

.about-left{
	float: left;
	width: 60%;
	padding-right: 40px 
}

p.about-description{
	padding-top: 15px;
	padding-bottom: 30px;
}

.about-right{
	float: left;
	width: 40%;
}

.about-image{
	width: 100%;
}

.about-image img{
	width: 100%;
}

/*<--CONTACT-->*/

#contact{
	padding: 40px 0;
	width: 100%;
}

#contact-area{
	width: 50%;
	float: left;
}

#contact-area form{
	width: 100%;
}

#contact-area input, #contact-area textarea {
	padding: 10px;
	width: 80%;
	font-size: 1em;
	margin: 0px 0px 30px 0px;
	border: 1px solid #ccc;
	margin-top: 10px;
	-webkit-appearance:none;
	border-radius: 0;
}

#contact-area textarea {
	height: 140px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #ccc;
}

#contact-area input.submit-button {
	width: 84%;
	text-transform: uppercase;
	color: #fff;
	background-color: #f4bc46;
	border: 2px solid #f4bc46;
	padding: 15px 30px;
	border-radius: 2px;
	box-shadow: none;
	background-image: none;
	border-image: none;
	display: block;
}

#contact-area input.submit-button:hover{
	background-color: #3a3a3a;
	border: 2px solid #3a3a3a;
	color: #fff;
}

label {
	text-align: left;
	padding-right: 15px;
	width: 30%;
	font-size: 1em;
}

#contact-thanks{
	padding: 50px 50px 150px 50px;
}

#twitter{
	float: right;
	width: 50%;
}

/*<--MOBILE FOOTER-->*/

.mobile-footer{
	display: none;
	background-color: #fff;
	text-align: center;
	border-top: 1px solid rgba(100,100,100,.2);
	padding: 30px 20px;
}

.mobile-social{
	width: 100%;
	padding-bottom: 15px;
}

.mobile-social img{
	width: 30px;
	opacity: .8;
}

.mobile-copyright{
	width: 100%;
	font-size: .7em;
}

/*<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*<--RESPONSIVE-->*/

@media only screen and (max-width: 1000px){
	.entry-left{
		float: none;
		width: 100%;
		padding-right: 0;
	}

	p.rating{
		padding-bottom: 30px;
	}

	.entry-right{
		float: none;
		width: 100%;
	}

	.about-left{
		float: none;
		width: 100%;
		padding-right: 0;
	}

	.about-right{
		float: none;
		width: 100%;
	}

	#contact-area{
		width: 100%;
		float: none;
	}

	#twitter{
		width: 100%;
		float: none;
	}

	#twitter h3{
		padding-top: 40px;
		border-top: 1px solid rgba(100,100,100,.1);
		margin-top: 40px;
	}
}

@media only screen and (max-width: 700px){
	nav{
		display: none;
	}

	#mobile-nav{
		display: block;
	}

	.mobile-footer{
		display: block;
	}

	.body-wrapper{
		padding: 50px;
	}

	h1{
		padding-bottom: 50px;
	}

	#contact-area input, #contact-area textarea {
		width: 90%;
	}

	#contact-area input.submit-button{
		width: 94%;
	}
}

@media only screen and (max-width: 500px){
	#mobile-nav{
		padding: 30px;
	}

	.body-wrapper{
		padding: 50px 30px;
	}

	#contact-area input, #contact-area textarea {
		width: 94%;
	}

	#contact-area input.submit-button{
		width: 99%;
	}
}