@font-face{
	font-family: 'bakery';
	src: url(../font/bakery.otf);
}

body{
	width: 100%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #e7e7e7;
	text-align: center;
	color: #000;
}

.page-wrapper{
	width: 100%;
	background-image: url("../images/nav/bunting3.png");	
	background-repeat: repeat-x;
}


.body-wrapper{
	width: 100%;
	background-color: #fff;
	padding: 40px 30px;
}

.subsection{
	background-color: #e7e7e7;
}

.content-wrapper{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

/*	<--TYPOGRAPHY-->*/

h1,h2,h3,h4{
	font-family: 'bakery', 'Helvetica', sans-serif;
	line-height: 1em;
}

h1{
	font-size: 5.4em;
}

h2{
	font-size: 3em;
}

h3{
	font-size: 2.4em;
}

h4{
	font-size: 2.2em;
	padding-bottom: 15px;
}

p{
	line-height: 1.7em;
	letter-spacing: 0.01em;
}

/*<--NAV-->*/

nav{
  	width: 100%;
  	padding: 50px;
  	max-width: 1400px;
  	margin: 0 auto;
}

.nav-content{
	width: 100%;
}

.nav-content .logo{
	width: 100%;
	padding-top: 55px;
}

.nav-content .logo h1 a:hover{
	color: #f9cd63;
}

.nav-content .logo h3{
	padding: 20px 0 30px 0;
}

.nav-content .nav-links{
	width: 100%;
	text-transform: uppercase;
}

.nav-content .nav-links ul{
	width: 604px;
	margin: 0 auto;
	border-top: 1px solid rgba(100, 100, 100, 0.2);
	border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}

.nav-content .nav-links ul li{
	display: inline-block;
	padding: 15px 0;
	font-size: .9em;
}

.nav-content a{
	text-decoration: none;
	color: #000;
}

.nav-content .nav-links ul li a{
	padding: 15px;
}

.nav-content .nav-links ul li:hover{
	background-color: #f9cd63;
}

.nav-content .nav-links ul li:hover a{
	color: #fff;
}

/*<--MOBILE NAV-->*/

#mobile-nav{
	background-color: #e7e7e7;
	width: 100%;
	padding: 100px 30px 30px 30px;
	display: none;
	text-align: left;
	background-image: url("../images/nav/bunting3.png");	
	background-repeat: repeat-x;
}

#mobile-nav h1{
	font-size: 3em;
	padding-left: 10px;
}

#mobile-nav a{
	text-decoration: none;
	color: #000;
}

#cssmenu{
	display: none;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
	display: block;
}

#cssmenu h3{
	padding-bottom: 20px;
	font-size: 2.1em;
}

#cssmenu a {
  	padding: 20px 0 20px 10px;
  	color: #000;
  	text-decoration: none;
  	text-transform: uppercase;
}

#cssmenu a:hover {
  	background-color: #f9cd63;
  	color: #fff;
}

#cssmenu.small-screen {
	width: 100%;
	display: block;
	position: relative;
	margin-top: -50px;
}

#cssmenu.small-screen ul li{
	float: none;
	display: block;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
	font-size: .9em;
}

#cssmenu.small-screen ul li:last-of-type {
	float: none;
	display: block;
	border-bottom: none;
}

#cssmenu.small-screen ul li:first-of-type{
	padding-top: 20px;
}

#cssmenu.small-screen #menu-button {
	display: block;
	padding: 16px 20px;
	cursor: pointer;
	top: 0;
	right: 10px;
	padding-bottom: 50px;
}

#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 0px;
	top: 17px;
	display: block;
	border-top: 2px solid rgba(100,100,100,.6);
	border-bottom: 2px solid rgba(100,100,100,.6);
	width: 22px;
	height: 3px;
}

#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 0px;
	top: 27px;
	display: block;
	width: 22px;
	height: 2px;
	background: rgba(100,100,100,.6);
}

/*<--JIGSAW-->*/

.jigsaw{
	margin: 0 auto;
	width: 100%;
}

.jigsaw-img{
	width: 25%;
	float: left;
	padding: 10px;
}

.jigsaw-img img{
	width: 100%;
	display: block;
}

.jigsaw-1{
	margin-top: 2%;
}

.jigsaw-2{
	margin-top: 6%;
}

.jigsaw-3{
	margin-top: 4%;
}

.jigsaw-4{
	margin-top: 0%;
}

.jigsaw-5{
	margin-top: 0%;
}

.jigsaw-6{
	margin-top: -6%;
}

.jigsaw-7{
	margin-top: -2%;
}

.jigsaw-8{
	margin-top: -6%;
}

/*<--OUR STORY-->*/

.content-wrapper h2{
	padding: 30px 0 50px 0;
}

#our-story{
	width: 100%;
	text-align: left;
}

.story{
	width: 50%;
	float: left;
}

.story-img{
	width: 50%;
	float: left;
}

.story-img img{
	width: 100%;
}

.story-detail{
	width: 50%;
	float: left;
	padding: 0 30px;
}

/*<--FOOTER-->*/

footer{
	padding: 30px;
	width: 100%;
	background-color: #dadada;
  	margin: 0 auto;
	bottom: 0;
}

footer p{
	font-size: .8em;
	color: #a5a5a5;
}

footer a{
	color: #a5a5a5;
}

footer a:hover{
	color: #000;
}

/*<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*<--RESPONSIVE-->*/

@media only screen and (max-width: 1100px){
	.jigsaw-img{
		width: 50%;
	}

	.jigsaw-1{
		margin-top: 0;
	}

	.jigsaw-2{
		margin-top: 4%;
	}

	.jigsaw-3{
		margin-top: 0;
		clear: both;
	}

	.jigsaw-4{
		margin-top: -16%;
	}

	.jigsaw-5{
		margin-top: 0;
	}

	.jigsaw-6{
		margin-top: -16%;
	}

	.jigsaw-7{
		margin-top: -12%;
		clear: both;
	}

	.jigsaw-8{
		margin-top: 0%;
	}

	.story{
		width: 100%;
		float: none;
	}

	#story-2{
		padding-top: 30px;
	}

	.story-img{
		width: 60%;
	}

	.story-detail{
		width: 40%;
		padding: 0 0 0 30px;
	}

	.body-wrapper{
		padding: 30px 20px;
	}

	.subsection{
		padding: 30px 30px 40px 30px;
	}
}

@media only screen and (max-width: 700px){
	nav{
		display: none;
	}

	#mobile-nav{
		display: block;
	}

	.story-img{
		width: 50%;
	}

	.story-detail{
		width: 50%;
		padding: 0 0 0 30px;
	}

	.jigsaw-7{
		margin-top: -11%;
	}
}

@media only screen and (max-width: 600px){
	.story-img{
		width: 100%;
		float: none;
	}

	.story-detail{
		width: 100%;
		float: none;
		padding: 30px 0 0 0;
	}

	#story-2{
		padding-top: 40px;
	}

	h2{
		font-size: 2.2em;
	}
}

@media only screen and (max-width: 450px){
	.body-wrapper{
		padding: 20px 10px;
	}

	.subsection{
		padding: 30px 20px;
	}

	.content-wrapper h2{
		padding: 20px 0 40px 0;
	}

	.jigsaw-img{
		padding: 5px;
	}

	#mobile-nav{
		padding: 100px 20px 30px 20px;
	}
}