body{
	width: 100%;
	font-size: 16px;
	text-align: center;
	background-color: #ecf2f6;
	color: #5b6164;
	font-family: 'Fjalla One', sans-serif;
}

.site-wrapper{
	width: 100%;
}

.body-wrapper{
	max-width: 1400px;
	width: 100%;
	margin: 3% auto 0 auto;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-size: 3.8em;
	color: #c5c8cf;
	margin: 18% auto 2.5% auto;
	text-transform: uppercase;
	letter-spacing: -0.02em;
}

h2{
	color: #c5c8cf;
	text-align: left;
	font-size: 1.7em;
}

h3{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	text-align: left;
}

h4{
	font-size: 1.1em;
	padding: 3% 0 1% 0;
}

p{
	line-height: 1.5em;
	letter-spacing: 0.01em;
	font-family: Arial, sans-serif;
}

a{
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
}

/*	<--NAV-->*/

#main-navigation{
	background-color: #d6dee2;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 2.8% 0;
	top: 0;
}

nav a{
	padding: 0 1.5%;
	color: #5b6164;
	opacity: 0.3;
	line-height: 24px;
	text-transform: uppercase;
}

nav a:hover{
	opacity: 1;
}

.highlighted{
	color: #5b6164;
	opacity: 1;
}

nav span{
	color: #c5c8cf;
}

.logo{
	float: left;
	vertical-align: middle;
	margin-left: 4%;
	width: 95px;
}

.links{
	width: 100%;
	vertical-align: middle;
	margin-left: -149.95px;
}

.logo a{
	color: #c5c8cf;
	opacity: 1;
}

.logo a:hover{
	color: #5b6164;
}

/*  <--PORTFOLIO CONTENT--->*/

#portfolio{
	width: 100%;
	padding: 10% 4% 0% 4%;
}

.project-wrapper{
	width: 100%;
	padding-bottom: 6%;
}

.project-thumbnail{
	width: 30%;
	float: left;
}

.project-thumbnail img{
	width: 100%;
}

.project-info-container{
	padding-left: 2%;
	width: 70%;
	float: left;
	text-align: left;
}

.small{
	font-size: 0.9em;
	color: #c5c8cf;
	line-height: 3em;
	letter-spacing: 0.02em;
}

.small:hover{
	color: #5b6164;
}

.description{
	text-align: left;
	padding-top: 2%;
}

.cta-container{
	text-align: left;
	padding-top: 4%;
}

.cta{
	background: #5b6164;
	padding: 2% 4%;
	color: #fff;
	text-align: left;
	display: inline-block;
}

.cta:hover{
	background: #454b4e;
}

/*<--ABOUT-->*/

.about-thumbnail{
	width: 20%;
	float: left;
}

.about-thumbnail img{
	width: 100%;
}

/*	<--FOOTER-->*/

#homepage-footer{
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	padding: 2% 0;
	left: -50%;
	right: -50%;
	background-color: #ecf2f6;
	opacity: 0.3;
	width: 100%;
}

.footer{
	bottom: 0;
	margin: 0 auto;
	padding: 2% 0;
	left: -50%;
	right: -50%;
	background-color: #ecf2f6;
	opacity: 0.3;
	width: 100%;
}

#homepage-footer:hover{
	opacity: 1;
}

.footer:hover{
	opacity: 1;
}

footer img{
	padding: 0 0.7%;
	-webkit-transition: -webkit-transform .08s ease-in-out;
  	transition: transform .08s ease-in-out;
}

footer img:hover{
	-webkit-transform: rotate(8deg);
  	transform: rotate(8deg);
}

/*	<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*	<--RESPONSIVE-->*/

