@font-face{
	font-family: 'shorelines';
	src: url(../font/shorelines.otf);
}

body{
	width: 100%;
	font-size: 16px;
	text-align: left;
	color: #000;
	background-color: #fff;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

#site-wrapper{
	width: 100%;
}

#body-wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 40px 60px 40px 370px;
	background-color: #f5f5f5;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-size: 4em;
}

h2{
	color: #000;
	text-align: left;
	font-size: 1.3em;
	line-height: 1.5em;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
	margin-bottom: 30px;
	font-weight: 500;
}

h3{
	color: #000;
	text-align: left;
	font-size: 1.2em;
	font-weight: 500;
}

p{
	line-height: 1.5em;
	letter-spacing: 0.01em;
}


/*	<--NAV-->*/


nav#global-nav{
	position: fixed;
	background-color: #fff;
	width: 320px;
	z-index: 1;
	padding: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	text-align: left;
	border-right: 1px solid #f0f0f0;
	/*-webkit-transition: height .3s, line-height .3s;*/ /* Safari */
	/*transition: height .3s, line-height .3s;*/
}

nav h1 a{
	color: #fee03d;
	font-weight: bolder;
	text-decoration: none;
	text-align: left;
}

nav h1 a:hover{
	color: black;
}

span.title-break{
	display: block;
}

nav ul{
	padding-top: 20px;
}

nav ul li{
	padding: 10px 0;
}

nav ul li a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
}

nav ul li a:hover{
	opacity: .7;
}

.highlighted{
	border-bottom: solid 2px #000;
    display: inline;
    padding-bottom: 3px;
}

#footer{
	bottom: 0;
	width: 100%;
	position: absolute;
	margin-bottom: 10px;
}

#social{
	padding-bottom: 20px;
	padding-top: 20px;
}

#social img{
	width: 25px;
	margin: 0 5px;
	-webkit-transition: -webkit-transform .08s ease-in-out;
  	transition: transform .08s ease-in-out;
}

#social img:hover{
	-webkit-transform: rotate(9deg);
  	transform: rotate(9deg);
}

#footer p{
	color: #000;
	font-size: 0.7em;
}

/*  <--PORTFOLIO--->*/

#portfolio{
	width: 100%;
	max-width: 1200px;
	margin-left: 0;
}

#portfolio h2{
	width: 96%;
	margin: 20px auto 40px auto;
}

.project-wrapper{
	float: left;
	width: 33%;
	padding: 2%;
}

.project-wrapper img{
	width: 100%;
	border: 1px solid #f0f0f0;
}

.project-wrapper img:hover{
	opacity: 0.6;
}

.project-info{
	width: 100%;
	padding: 30px 0 60px 0;
}

.description a{
	color: #000;
}

.description a:hover{
	border-bottom: 0!important;
	opacity: .7
}

a.redirect{
	color: #000;
	line-height: 4.5em;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-weight: 500;
	border-bottom: 2px solid black;
	padding-bottom: 2px;
}

a.redirect:hover{
	opacity: .7;
	border-bottom: 2px solid rgba(0,0,0,.7)
}

#about-contact a{
	color: black;
	text-decoration: underline;
}

#about-contact a:hover{
	opacity: .7;
}

p.coming-soon{
	font-size: 0.9em;
	color: #000;
	line-height: 4.5em;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-weight: bold;
}

/*<--ABOUT-->*/

#about{
	width: 100%;
	margin: 20px 0 30px 0;
	max-width: 1200px;
	padding: 0 4%;
}

#about-container{
	margin-top: 60px;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

#about-image{
	width: 40%;
	float: right;
}

#about-image img{
	width: 100%;
}

#about-description{
	width: 60%;
	float: left;
	padding-right: 60px;
}

#about-1{
	padding-bottom: 30px;
}

#about-3{
	width: 100%;
}

#about-3 h2{
	line-height: 1.3em;
	padding-bottom: 30px;
	border-bottom: 2px solid #000;
	margin-bottom: 30px;
}

#list-1{
	float: left;
	width: 50%;
}

#list-2{
	float: left;
	width: 50%;
}

#about ul{
	padding: 0 20px;
}

#about ul li{
	padding: 8px 0;
	list-style: disc;
	line-height: 1.4em;
}

#about-contact{
	padding-top: 40px;
}

/*<--CONTACT-->*/

#contact{
	width: 100%;
	margin: 20px 0 30px 0;
	max-width: 1200px;
	padding: 0 4%;
}

#contact-area{
	width: 100%;
	padding: 0;
	margin: 0 auto 0 0;
}

#contact-area input, #contact-area textarea {
	padding: 10px;
	width: 400px;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	margin-top: 10px;
	-webkit-appearance:none;
	border-radius: 0;
}

#contact-area textarea {
	height: 140px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #ccc;
}

#contact-area input.submit-button {
	width: 120px;
	background-color: #000;	
	border-color: #000;
	border-radius: 2px;
	padding: 12px;
	box-shadow: none;
	background-image: none;
	border-image: none;
	display: block;
	font-weight: 500;
	margin-left: 132px;
	color: #fff;
}

#contact-area input.submit-button:hover{
	background-color: #fee03d;
	border-color: #fee03d;
}

label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 115px;
	padding-top: 35px;
	font-size: 1em;
}

#contact img{
	padding-top: 40px;
	width: 60%;
}

/*<--MOBILE FOOTER-->*/

#mobile-footer{
	width: 100%;
	background-color: #fff;
	padding: 25px 0;
	text-align: center;
	display: none;
	border-top: 1px solid #f0f0f0;
}

#mobile-social img{
	width: 25px;
	margin: 0 10px;
}

/*	<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*	<--RESPONSIVE-->*/

@media only screen and (max-width: 1270px){
	#about-container{
		margin-top: 0;
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 40px;
	}

	#about-image{
		width: 100%;
		float: none;
		margin-top: 40px;
	}

	#about-description{
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}


@media only screen and (max-width: 1080px){
	h2{
		margin-bottom: 40px;
	}

	#about h2{
		padding-bottom: 20px;
	}

	.project-info{
		padding-bottom: 40px;
	}

	#about-3 h2{
		margin-bottom: 40px;
		padding-bottom: 20px;
	}

	#about ul{
		padding: 0 0 0 20px;
	}

	#list-1{
		float: none;
		width: 100%;
	}

	#list-2{
		float: none;
		width: 100%;
	}

	#about ul li{
		padding: 8px 0;
	}

	#contact{
		float: none;
		margin-left: auto;
	}

	#contact img{
		padding-top: 40px;
		width: 100%;
	}

	.project-wrapper{
		width: 50%;
		padding: 3%;
	}

	#contact-area input, #contact-area textarea {
		width: 97%;
	}

	label {
		padding-top: 15px;
	}

	#contact-area input.submit-button {
		margin-left: 0;
	}
}

@media only screen and (max-width: 850px){
	nav#global-nav{
		background-color: #fff;
		width: 100%;
		z-index: 1;
		padding: 40px;
		border-bottom: 1px solid #f0f0f0;
		border-right: none;
		bottom: auto!important;
	}

	span.title-break{
		display: inline-block;
	}

	nav#global-nav.scrolled-nav{
		padding: 20px 40px;
	}

	.site-title {
		display: inline-block;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	.scrolled-nav .scrolled-ul{
		padding-top: 10px;
	}

	.scrolled-nav .site-title  {
 		font-size: .5em;
	}

	.scrolled-nav h1{
		line-height: 12px;
	}

	nav ul{
		padding-top: 20px;
	}

	nav ul li{
		padding: 10px;
		display: inline-block;
	}

	nav ul li:first-of-type{
		padding-left: 0;
	}

	#footer{
		display: none;
	}

	#body-wrapper{
		width: 100%;
		margin: 200px auto 0 auto!important;
		padding: 55px 40px 40px 40px;
	}

	#portfolio h2{
		margin-top: 0;
	}

	.project-wrapper{
		padding: 2%;
	}

	#about,#contact{
		width: 100%;
		margin: 0 auto!important;
		padding: 0!important;
	}

	#about-image{
		width: 100%;
	}

	#mobile-footer{
		display: block;
	}

	#contact-area input.submit-button{
		width: 94%;
		margin: 0 auto;
		margin-top: 20px;
	}
}


@media only screen and (max-width: 500px){
	nav#global-nav{
		padding: 30px;
	}
	nav#global-nav h1{
		font-size: 3em;
	}

	.project-wrapper{
		width: 100%;
		float: none;
	}

	#body-wrapper{
		padding: 45px 30px 30px 30px;
		margin-top: 165px!important;
	}

	#contact-area input.submit-button{
		width: 99%;
	}

	#contact-area input, #contact-area textarea{
		width: 92%;
	}
}