body{
	width: 100%;
	font-size: 16px;
	text-align: left;
	color: #000;
	background-color: #f5f5f5;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

*{
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

#site-wrapper{
	width: 100%;
}

#body-wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 40px 60px 40px 370px;
	background-color: #f5f5f5;
}

/*	<--TYPOGRAPHY-->*/

h1{
	font-size: 4.4em;
}

h2{
	text-align: left;
	font-size: 1.3em;
	line-height: 1.5em;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
	margin-bottom: 30px;
	font-weight: 500;
}

h3{
	text-align: left;
	font-size: 1.1em;
	font-weight: 500;
}

h4{
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	padding-bottom: 15px;
	line-height: 1.4em;
}

h5{
	font-size: .7em;
	text-align: left;
	opacity: .6;
	line-height: 1.4em;
	text-transform: uppercase;
}

p{
	line-height: 1.5em;
	letter-spacing: 0.01em;
}

a{
	color: #000;
}

*::selection{
	background: #fee03d;
}

/*	<--NAV-->*/

nav#global-nav{
	position: fixed;
	background-color: #fff;
	width: 320px;
	z-index: 1;
	padding: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	text-align: left;
	border-right: 1px solid #ececec;
}

nav h1 a{
	color: #fee03d;
	font-weight: bolder;
	text-decoration: none;
	text-align: left;
}

nav h1 a:hover{
	color: black;
	-webkit-transition: color .4s;  /*Safari */
	transition: color .4s;
}

span.title-break{
	display: block;
}

nav ul{
	padding-top: 20px;
}

nav ul li{
	padding: 10px 0;
}

nav ul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
	position: relative;
}

nav ul li a:hover{
	opacity: .7;
}

.highlighted{
	border-bottom: solid 2px #000;
    display: inline;
    padding-bottom: 3px;
}

#footer{
	bottom: 0;
	width: 100%;
	position: absolute;
	margin-bottom: 10px;
}

#social{
	padding-bottom: 20px;
	padding-top: 20px;
}

#social img{
	width: 25px;
	margin: 0 5px;
	-webkit-transition: -webkit-transform .08s ease-in-out;
  	transition: transform .08s ease-in-out;
}

#social img:hover{
	-webkit-transform: rotate(9deg);
  	transform: rotate(9deg);
}

/*  <--PORTFOLIO NAVIGATION --->*/

.filters{
	text-align: right;
}

.btn{
    cursor: pointer;
    display: inline-block;
    padding: 5px!important;
    border: none;
    background-color: #fee03d;
    font-size: .9em;
    margin: 2px 0;
}

.btn:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#portfolio .back{
	padding-bottom: 30px;
	font-size: .9em;
	margin-top: 10px;
}

.filters .back{
	margin-top: 0!important;
}

#portfolio .back a{
	text-decoration: none;
	background-color: #fee03d;
	padding: 5px;
}

#portfolio .back-left{
	float: left;
	width: 50%;
	padding-top: 40px;
}

#portfolio .disabled{
	opacity: .4;
}

#portfolio .back-right{
	float: right;
	width: 50%;
	text-align: right;
	padding-top: 40px;
}

/*<-- PORTFOLIO -->*/

#portfolio{
	width: 100%;
	max-width: 1200px;
	margin-left: 0;
}

.columns{
	padding-top: 30px;
}

.masonry{
	column-count: 2;
	column-gap: 2em;
}

.project-wrapper{
	display: inline-block;
	margin: 0 0 3em;
    width: 100%;
}

.project-wrapper img{
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 4x;
}

.project-wrapper a img:hover{
	opacity: 0.8;
}

.project-wrapper h3{
	width: 100%;
	padding: 15px 0 10px 0;
}

.project-wrapper a{
	text-decoration: none;
}

.project-wrapper h3:hover{
	opacity: .7;
}

/*<--PORTFOLIO SUBPAGES-->*/

#portfolio h4{
	font-weight: 400;
	opacity: .5;
}

#portfolio .subheader{
	font-weight: 600;
	padding: 25px 0 5px 0;
}

#portfolio .description{
	padding: 10px 0;
}

#portfolio .description a:hover{
	opacity: .7;
}

#portfolio .link{
	padding-bottom: 20px;
}

#portfolio .link a{
	text-decoration: none;
}

#portfolio .link a:hover{
	opacity: .7;
}

.portfolio-wrapper{
	float: left;
	width: 50%;
	padding: 2%;
}

.portfolio-wrapper img{
	width: 100%;
	border: 1px solid #f0f0f0;
}

/*<--ABOUT-->*/

#about{
	max-width: 1200px;
	padding: 0;
}

#about-description a:hover{
	opacity: .7;
}

#about-container{
	margin-bottom: 40px;
	padding-bottom: 20px;
}

#about-image{
	width: 80%
}

#about-image img{
	width: 100%;
}

#about-description{
	width: 80%;
}

#about-1{
	padding-bottom: 30px;
}

#about-3{
	width: 100%;
}

#about-3 h2{
	line-height: 1.3em;
	padding-bottom: 30px;
	border-bottom: 2px solid #000;
	margin-bottom: 30px;
}

.list-container{
	padding-bottom: 60px;
}

#list-1{
	float: left;
	width: 50%;
	padding-right: 15px;
}

#list-2{
	float: left;
	width: 50%;
	padding-left: 15px;
}

#about ul{
	padding: 0 20px;
}

#about ul li{
	padding: 8px 0;
	list-style: disc;
	line-height: 1.4em;
}

#about-contact a{
	text-decoration: underline;
}

#about-contact a:hover{
	opacity: .7;
}

/*<--CONTACT-->*/

#contact{
	max-width: 1200px;
	padding: 0;
}

#contact-area{
	width: 100%;
	padding: 0 0 100px 0;
	margin: 0 auto 0 0;
}

#contact-area input, #contact-area textarea {
	padding: 10px;
	width: 400px;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	margin-top: 10px;
	-webkit-appearance:none;
	border-radius: 0;
}

#contact-area textarea {
	height: 140px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #ccc;
}

#contact-area input.submit-button {
	width: 120px;
	background-color: #000;	
	border-color: #000;
	border-radius: 2px;
	padding: 12px;
	box-shadow: none;
	background-image: none;
	border-image: none;
	display: block;
	font-weight: 500;
	margin-left: 132px;
	color: #fff;
}

#contact-area input.submit-button:hover{
	background-color: #fee03d;
	border-color: #fee03d;
}

label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 115px;
	padding-top: 35px;
	font-size: 1em;
}

#contact img{
	padding-top: 40px;
	width: 60%;
}

/*<--MOBILE FOOTER-->*/

#mobile-footer{
	width: 100%;
	background-color: #fff;
	padding: 25px 0;
	text-align: center;
	display: none;
	border-top: 1px solid #f0f0f0;
}

#mobile-social img{
	width: 25px;
	margin: 0 10px;
}

/*	<--CLEARFIX-->*/

.clearfix:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

/*	<--RESPONSIVE-->*/

@media only screen and (max-width: 1270px){
	.masonry-large{
		column-count: 1;
	}

	#about-container{
		margin-top: 0;
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 40px;
	}

	#about-image{
		width: 100%;
	}

	#about-description{
		width: 100%;
	}
}

@media only screen and (max-width: 1080px){
	.filters{
		text-align: left;
	}

	.masonry{
		column-count: 1;
	}

	#about h2{
		padding-bottom: 20px;
	}

	#about-3 h2{
		margin-bottom: 40px;
		padding-bottom: 20px;
	}

	#about ul{
		padding: 0 0 0 20px;
	}

	#list-1{
		float: none;
		width: 100%;
		padding-right: 0;
	}

	#list-2{
		float: none;
		width: 100%;
		padding-top: 40px;
		padding-left: 0;
	}

	.list-container{
		padding-bottom: 40px;
	}

	#about ul li{
		padding: 8px 0;
	}

	#contact{
		float: none;
		margin-left: auto;
	}

	#contact img{
		padding-top: 40px;
		width: 100%;
	}

	#contact-area input, #contact-area textarea {
		width: 97%;
	}

	label {
		padding-top: 15px;
	}

	#contact-area input.submit-button {
		margin-left: 0;
	}
}

@media only screen and (max-width: 850px){
	nav#global-nav{
		background-color: #fff;
		width: 100%;
		z-index: 1;
		padding: 40px;
		border-bottom: 1px solid #f0f0f0;
		border-right: none;
		bottom: auto!important;
	}

	span.title-break{
		display: inline-block;
	}

	nav#global-nav.scrolled-nav{
		padding: 20px 40px;
	}

	.site-title {
		display: inline-block;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	.scrolled-nav .scrolled-ul{
		padding-top: 10px;
	}

	.scrolled-nav .site-title  {
 		font-size: .5em;
	}

	.scrolled-nav h1{
		line-height: 12px;
	}

	nav ul{
		padding-top: 20px;
	}

	nav ul li{
		padding: 10px;
		display: inline-block;
	}

	nav ul li:first-of-type{
		padding-left: 0;
	}

	#footer{
		display: none;
	}

	#body-wrapper{
		width: 100%;
		margin: 210px auto 0 auto!important;
		padding: 40px;
	}

	.btn{
	    padding: 10px!important;
	    margin: 0 3px 0 0;
	}

	.masonry{
		column-count: 2;
	}

	.masonry-large{
		column-count: 1;
	}

	#about,#contact{
		width: 100%;
		margin: 0 auto!important;
		padding: 0!important;
	}

	#list-1{
		width: 50%;
		float: left;
		padding-right: 15px;
	}

	#list-2{
		width: 50%;
		float: left;
		padding-left: 15px;
		padding-top: 0;
	}

	#mobile-footer{
		display: block;
	}

	#contact-area input.submit-button{
		width: 94%;
		margin: 0 auto;
		margin-top: 20px;
	}

	.contactthanks{
		padding-bottom: 100px!important;
	}
}

@media only screen and (max-width:700px){
	.masonry{
		column-count: 1;
	}

	.btn{
	    padding: 10px!important;
	    margin: 3px 3px 3px 0;
	}
}

@media only screen and (max-width: 500px){
	nav#global-nav.scrolled-nav{
		padding: 20px 30px;
	}

	nav#global-nav{
		padding: 30px;
	}
	nav#global-nav h1{
		font-size: 3em;
	}

	#body-wrapper{
		padding: 30px;
		margin-top: 165px!important;
	}

	#list-1{
		float: none;
		width: 100%;
		padding-right: 0;
	}

	#list-2{
		float: none;
		width: 100%;
		padding-top: 40px;
		padding-left: 0;
	}

	#contact-area input.submit-button{
		width: 99%;
	}

	#contact-area input, #contact-area textarea{
		width: 92%;
	}
}